body {
    background-color: hsl(212, 45%, 89%);
}

h3 {
    font-weight: 700;
}

p {
    font-size: 15px;
    font-family: outfit, sans-serif;
    font-weight: 400;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}
.box {
    width: 50%;
    max-width: 1440px;
    height: auto;
    border: 1px solid white;
    background-color: white;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: outfit, sans-serif;
    border-radius: 10px;
}
.responsive-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
@media (max-width: 600px) {
    .box {
        width: 80%;
    }
}