body, html {
    height: 100%;
    margin: 0;
    font-family: 'Outfit', sans-serif; 
    background-color: hsl(212,45%,80%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    text-align: center;
    background-color: white: hsl(0, 0%, 0%);
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin: 0 auto;
    max-width: 300px; 
  }
  
  .qr-code {
    max-width: 100%;
    border-radius: 10px; 
  }
  
  h1 {
    margin: 20px 0;
    color: hsl(218, 44%, 22%);
    font-size: 22px; 
    font-weight: 700;
  }
  
  p {
    color: hsl(220, 15%, 55%);
    font-size: 15px; 
    font-weight: 400;
  }

@media (min-width: 375px) {
    .responsive-box {
        width: 360px;
        height: 260px;
    }
}